body{
  overflow-x:hidden;
}
/* main background image */
.main-image{
  background: url('bookfinderimage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-position: fixed;

}
/* light dark filter on top of the image */
.filter:after{
  background-color: rgba(0,0,0,0.6);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}